@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(221, 221, 221);
}

header > h1 {
    text-align: center;
}


menu ul {
    list-style-type: none;
    background-color: rgb(170, 170, 170);
}

menu li {
    background-color: rgb(128, 128, 128);
    display: inline-block;
    padding: 10px;
    color: white;
}

article {
    width: 600px;
    display: block;
    margin: 0 auto;
}