@media screen and (min-width: 690px) {
    body {
        background-position: center center;
        background-size: contain;
    }
}

/* @media screen and (max-width: 700px) {
    #main {
        background-size: cover;
    }
} */

/* @media screen and (max-width: 680px) {
    #main {
        background-size: contain;
    }
} */

@media screen and (max-width: 690px) {
    body {
        background-size: cover;
    }
}